.spinner_page {
  width: 25px;
  height: 25px;
  background: conic-gradient(white, #107f8c);
}

.spinner_page::before {
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background: #f2f4f7;
}

/* Маленький кружочек как из макета */
.spinner_page::after {
  top: 0px;
  left: 10px;
  width: 3px;
  height: 3px;
  background: #107f8c;
}
