.section__dashboard {
  background: white;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .section__dashboard {
    height: calc(100vh - 60px);
  }
}

