.section__dashboard {
    background: white;
    /* padding: 20px; */
    /* border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  */
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
}