.popup__bottom {
  background-color: #f2f4f7;
  display: flex;
  padding: 25px 30px;
  gap: 20px;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .popup__bottom {
    justify-content: start;
    padding: 20px 20px;
  }
}
