.popup {
    display: none; /* Скрыт по умолчанию */
    position: fixed;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* padding: 20px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: 480px;
    /* border-radius: 5px; */
    border-radius: 16px;
    overflow: hidden;
    
}

